<mat-form-field [appearance]="appearance">
	<mat-label *ngIf="label">{{ label | translate }}{{ required ? ' *' : '' }}</mat-label>
	<textarea
		matInput
		autofocus
		[tabIndex]="tabOrder"
		[formControl]="control"
		cdkTextareaAutosize
		[cdkAutosizeMinRows]="cdkAutosizeMinRows"
		[cdkAutosizeMaxRows]="cdkAutosizeMaxRows"
	></textarea>
	<mat-hint *ngIf="hint">{{ hint | translate }}</mat-hint>
	<mat-error *ngIf="Object.keys(control.errors || {})[0] as error">{{ 'transl.error.form.' + error | translate }}</mat-error>
</mat-form-field>
