<h1 mat-dialog-title>{{ 'transl.simple.addUser' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content class="mat-typography">
		<lib-input appearance="fill" [formControl]="form.controls.email" label="transl.simple.email" [required]="true"></lib-input>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button" [disabled]="form.disabled">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">
			{{ 'transl.simple.save' | translate }}
		</button>
	</mat-dialog-actions>
</form>
