<ng-container *ngFor="let card of cards">
	<ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{ $implicit: card }"></ng-template>
</ng-container>
<mat-card *ngIf="allowNew" class="new" (click)="onNew.emit()" matRipple>
	<mat-icon>add</mat-icon>
</mat-card>
