:host {
	display: grid;
	gap: var(--space-2);
	grid-auto-rows: minmax(130px, min-content);
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	mat-card {
		&:hover {
			background-color: #f7f8fb;
		}

		&.new {
			display: grid;
			justify-content: center;
			align-items: center;

			border: 2px #c8c8c8 dashed;
			background-color: transparent;
			user-select: none;

			mat-icon {
				color: #c8c8c8;
				font-size: 50px;
				width: 50px;
				height: 50px;
			}
		}
	}
}
