<h1 mat-dialog-title>{{ 'transl.simple.environment' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<span *ngIf="form.controls._id.value">{{ 'transl.simple.id' }}: {{ form.controls._id.value }}</span>
		<lib-input
			[formControl]="form.controls.code"
			appearance="fill"
			label="transl.simple.code"
			[required]="true"
			tabOrder="1"
		></lib-input>
		<lib-single-select
			appearance="fill"
			[formControl]="form.controls.type"
			[options]="types"
			[required]="true"
			label="transl.simple.type"
			translationPrefix="transl.voucher.type."
			tabOrder="1"
		></lib-single-select>
		<lib-single-select
			appearance="fill"
			[formControl]="form.controls.discountType"
			[options]="discountTypes"
			[required]="true"
			label="transl.simple.discountType"
			translationPrefix="transl.voucher.discountType."
			tabOrder="1"
		></lib-single-select>
		<lib-input
			[formControl]="form.controls.discountAmount"
			appearance="fill"
			label="transl.simple.discountAmount"
			[required]="true"
			type="number"
			tabOrder="2"
		></lib-input>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<lib-loading-button type="submit" color="primary" tabindex="1" [disabled]="form.invalid || form.disabled" [loading]="loading">
			{{ 'transl.simple.save' | translate }}
		</lib-loading-button>
	</mat-dialog-actions>
</form>
