<mat-card class="auth-card register">
  <div class="title">
    <h1 class="mat-display-2">{{ 'transl.simple.register' | translate }}</h1>
    <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
  </div>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<lib-input [formControl]="form.controls.firstname" label="transl.simple.firstname" appearance="fill" class="firstname"></lib-input>
		<lib-input [formControl]="form.controls.lastname" label="transl.simple.lastname" appearance="fill" class="lastname"></lib-input>
		<lib-input
			[formControl]="form.controls.email"
			label="transl.simple.email"
			[required]="true"
			appearance="fill"
			class="email"
		></lib-input>
		<lib-input
			[formControl]="form.controls.password"
			label="transl.simple.password"
			[required]="true"
			type="password"
			appearance="fill"
			class="password"
		></lib-input>
		<button class="underline-button" mat-raised-button color="primary" type="submit" [disabled]="loading || form.invalid">
			{{ 'transl.simple.register' | translate }}
		</button>
	</form>

	<div class="actions">
		<span class="mat-caption">
			{{ 'transl.simple.registerNotice.start' | translate }}
			<a href="/core/terms" target="_blank" rel="noopener noreferrer">{{ 'transl.simple.terms' | translate }}</a>
			{{ 'transl.simple.and' | translate }}
			<a href="/core/gdpr" target="_blank" rel="noopener noreferrer">{{ 'transl.simple.privacyPolicy' | translate }}</a>
			{{ 'transl.simple.registerNotice.end' | translate }}
		</span>
		<mat-divider></mat-divider>
		<button class="underline-button" mat-button type="button" routerLink="/authentication/login">
			{{ 'transl.simple.back' | translate }}
		</button>
	</div>
</mat-card>
