<div class="actions">
	<button mat-flat-button color="primary" (click)="openCheckDialog()">
		<mat-icon>add</mat-icon>
		{{ 'transl.simple.check' | translate }}
	</button>
</div>
<lib-table
	#table
	[columnsToDisplay]="displayedColumns"
	[autoColumns]="autoColumns"
	[pageSizeOptions]="[10, 20, 50, 100]"
	matSort
	matSortDirection="asc"
	[matSortActive]="displayedColumns[0]"
	[data]="data"
	(update)="list($event)"
	filterLabel="transl.simple.filter"
>
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.status' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ 'transl.check.status.' + item.type | translate }}</td>
	</ng-container>
	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.type' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ 'transl.check.type.' + item.type | translate }}</td>
	</ng-container>
	<ng-container matColumnDef="lastActivity">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.lastActivity' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ item.lastActivity }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>{{ 'transl.simple.actions' | translate }}</th>
		<td mat-cell *matCellDef="let item">
			<button mat-icon-button aria-label="Edit" [matTooltip]="'transl.simple.edit' | translate" (click)="openCheckDialog(item)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button aria-label="Delete" [matTooltip]="'transl.simple.delete' | translate" (click)="deleteCheck(item)">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>
</lib-table>
