:host {
	display: grid;
	grid-template-rows: min-content 1fr;
	gap: var(--space-2);

	padding: var(--space-3);

	.actions {
		display: grid;
		grid-template-rows: min-content;
		grid-template-columns: min-content;
		justify-content: right;
	}
}
