<button mat-raised-button [disabled]="loading || disabled" [color]="color" (click)="loading = true" [tabindex]="tabOrder">
	<mat-spinner *ngIf="loading"></mat-spinner>
	<ng-content></ng-content>
</button>
