:host ::ng-deep {
	button .mat-button-wrapper {
		display: flex;

		mat-spinner {
			margin-right: 10px;

			$size: 1.5em;
			width: $size !important;
			height: $size !important;

			svg {
				width: $size !important;
				height: $size !important;

				circle {
					stroke: white !important;
				}
			}
		}
	}
}
