<h1 mat-dialog-title>{{ 'transl.simple.license' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<span *ngIf="form.controls._id.value">{{ 'transl.simple.id' }}: {{ form.controls._id.value }}</span>
		<lib-input
			[formControl]="form.controls.name"
			appearance="fill"
			label="transl.simple.name"
			[required]="true"
			tabOrder="1"
		></lib-input>
		<lib-input
			[formControl]="form.controls.price"
			appearance="fill"
			label="transl.simple.price"
			[required]="true"
			type="number"
			tabOrder="2"
		></lib-input>
		<lib-input [formControl]="form.controls.tax" appearance="fill" label="transl.simple.tax" [required]="true" tabOrder="3"></lib-input>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<lib-loading-button type="submit" color="primary" tabindex="1" [disabled]="form.invalid || form.disabled" [loading]="loading">
			{{ 'transl.simple.save' | translate }}
		</lib-loading-button>
	</mat-dialog-actions>
</form>
