<mat-icon *ngIf="data.icon; else noIcon">{{ data.icon }}</mat-icon>
<ng-template #noIcon>
	<mat-icon [ngSwitch]="data.level">
		<ng-container *ngSwitchCase="Level.DEBUG">bug_report</ng-container>
		<ng-container *ngSwitchCase="Level.INFO">info</ng-container>
		<ng-container *ngSwitchCase="Level.WARN">warning</ng-container>
		<ng-container *ngSwitchCase="Level.ERROR">error</ng-container>
	</mat-icon>
</ng-template>

<h4 *ngIf="data.title; else noTitle">{{ data.title }}</h4>
<ng-template #noTitle>
	<h4 [ngSwitch]="data.level">
		<ng-container *ngSwitchCase="Level.DEBUG">{{ 'transl.snackbar.debug.title' | translate }}</ng-container>
		<ng-container *ngSwitchCase="Level.INFO">{{ 'transl.snackbar.info.title' | translate }}</ng-container>
		<ng-container *ngSwitchCase="Level.WARN">{{ 'transl.snackbar.warn.title' | translate }}</ng-container>
		<ng-container *ngSwitchCase="Level.ERROR">{{ 'transl.snackbar.error.title' | translate }}</ng-container>
	</h4>
</ng-template>

<span class="mat-body-1">{{ data.message }}</span>
