:host {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-auto-rows: min-content;
	grid-template-areas:
		'icon title'
		'icon text';
	row-gap: var(--space2);
	column-gap: var(--space-3);
	align-items: center;

	mat-icon {
		grid-area: icon;
	}

	h4 {
		grid-area: title;
	}

	span {
		grid-area: text;
	}
}
