<mat-card class="auth-card login">
  <div class="title">
    <h1 class="mat-display-2">{{ 'transl.simple.login' | translate }}</h1>
    <mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
  </div>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<lib-input [formControl]="form.controls.email" label="transl.simple.email" [required]="true" appearance="fill"></lib-input>
		<lib-input
			[formControl]="form.controls.password"
			label="transl.simple.password"
			[required]="true"
			type="password"
			appearance="fill"
		></lib-input>
		<button class="underline-button" mat-button type="submit" [disabled]="loading">
			{{ 'transl.simple.login' | translate }}
		</button>
	</form>

	<div class="actions">
		<mat-divider></mat-divider>

    <div>
      <button class="underline-button" mat-button type="button" routerLink="/authentication/request-password-reset">
        {{ 'transl.simple.resetPassword' | translate }}
      </button>
      <button class="underline-button" mat-button type="button" routerLink="/authentication/register">{{ 'transl.simple.register' | translate }}</button>
    </div>
		<!--
		<button mat-button type="button" routerLink="/authentication/request-verification-email">
			{{ 'transl.simple.requestEmailVerification' | translate }}
		</button>
		-->
	</div>
</mat-card>
