<app-card-list [cards]="projectService.documents$ | async" [allowNew]="true" (onNew)="openProjectDialog()">
	<ng-template let-project>
		<mat-card class="card" matRipple (click)="navigateToProject(project)">
			<div class="content">
				<h2 class="mat-h2">{{ project.name }}</h2>
			</div>
			<div class="actions">
				<button
					mat-icon-button
					[matTooltip]="'transl.simple.edit' | translate"
					(mousedown)="$event.stopPropagation()"
					(click)="$event.stopPropagation(); openProjectDialog(project)"
				>
					<mat-icon>edit</mat-icon>
				</button>
				<button
					mat-icon-button
					[matTooltip]="'transl.simple.delete' | translate"
					(mousedown)="$event.stopPropagation()"
					(click)="$event.stopPropagation(); deleteProject(project)"
				>
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</mat-card>
	</ng-template>
</app-card-list>
