<span *ngIf="form.controls._id.value">{{ 'transl.simple.id' }}: {{ form.controls._id.value }}</span>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<lib-input
		[formControl]="form.controls.stripePublishableKey"
		appearance="fill"
		label="transl.simple.stripePublishableKey"
		tabIndex="1"
	></lib-input>
	<lib-input
		[formControl]="form.controls.stripeSecretKey"
		appearance="fill"
		label="transl.simple.stripeSecretKey"
		tabIndex="2"
	></lib-input>
	<div class="actions">
		<lib-loading-button type="submit" tabindex="1" color="primary" [disabled]="form.invalid || form.disabled" [loading]="loading">
			{{ 'transl.simple.save' | translate }}
		</lib-loading-button>
	</div>
</form>
