@import 'src/styles/variables.scss';

:host {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	gap: var(--space-2);
  margin-top: 20px;

	overflow: auto;
	padding: var(--space-3);
	background-color: white;

	form {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: min-content;
		gap: var(--space-2);

		.actions {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: min-content;
			justify-items: right;
		}
	}
}
