@import '~@angular/material/theming';

$primary: (
	50: #ebf0ff,
	100: #ced9ff,
	200: #aebfff,
	300: #8da5ff,
	400: #7492ff,
	500: #5c7fff,
	600: #5477ff,
	700: #4a6cff,
	800: #4162ff,
	900: #304fff,
	A100: #ffffff,
	A200: #ffffff,
	A400: #dbe0ff,
	A700: #c2caff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$accent: (
	50: #ffebf0,
	100: #ffced9,
	200: #ffaebf,
	300: #ff8da5,
	400: #ff7492,
	500: #ff5c7f,
	600: #ff5477,
	700: #ff4a6c,
	800: #ff4162,
	900: #ff304f,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffdbe0,
	A700: #ffc2ca,
	contrast: (
		50: #000000,
		100: #000000,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$warn: (
	50: #ffebf0,
	100: #ffced9,
	200: #ffaebf,
	300: #ff8da5,
	400: #ff7492,
	500: #ff5c7f,
	600: #ff5477,
	700: #ff4a6c,
	800: #ff4162,
	900: #ff304f,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffdbe0,
	A700: #ffc2ca,
	contrast: (
		50: #000000,
		100: #000000,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$background: (
	50: #fdfdfe,
	100: #fafbfd,
	200: #f7f8fb,
	300: #f4f5f9,
	400: #f1f3f8,
	500: #eff1f7,
	600: #edeff6,
	700: #ebedf5,
	800: #e8ebf3,
	900: #e4e7f1,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffffff,
	A700: #ffffff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$foreground: (
	50: #e9e9e9,
	100: #c8c8c8,
	200: #a3a3a3,
	300: #7e7e7e,
	400: #636363,
	500: #474747,
	600: #404040,
	700: #373737,
	800: #2f2f2f,
	900: #202020,
	A100: #000000,
	A200: #eb4e4e,
	A400: #ff0707,
	A700: #ec0000,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$primary: mat-palette($primary);
$accent: mat-palette($accent);
$warn: mat-palette($warn);
$background: mat-palette($background);
$foreground: mat-palette($foreground);

$theme: mat-light-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
			warn: $warn,
		),
	)
);

// Typography title is unused
$typography: mat-typography-config(
	$font-family: 'Poppins',
	$display-4: mat-typography-level(8rem, 1em, 400),
	$display-3: mat-typography-level(4rem, 1em, 400),
	$display-2: mat-typography-level(3rem, 1em, 500),
	$display-1: mat-typography-level(1.8rem, 1.556em, 500),
	$headline: mat-typography-level(2rem, 1.556em, 500),
	$title: mat-typography-level(2.8rem, 1.357em, 600),
	$subheading-2: mat-typography-level(1.8rem, 1.556em, 500),
	$subheading-1: mat-typography-level(1.6rem, 1em, 500),
	$body-2: mat-typography-level(1.6rem, 1.5em, 400),
	$body-1: mat-typography-level(1.2rem, 1.6em, 400),
	$caption: mat-typography-level(1.4rem, 1.7em, 400),
	$button: mat-typography-level(1.6rem, 2.5em, 400),
	$input: mat-typography-level(1.5rem, 1.5, 400),
);

// Breakpoints
$large-2: 1919px;
$large-1: 1599px;
$medium-2: 1439px;
$medium-1: 1279px;
$small-4: 1023px;
$small-3: 959px;
$small-2: 839px;
$small-1: 719px;
$xsmall-4: 599px;
$xsmall-3: 599px;
$xsmall-2: 479px;
$xsmall-1: 359px;
