<div class="actions">
	<button mat-flat-button color="primary" (click)="openAddUserDialog()">
		<mat-icon>add</mat-icon>
		{{ 'transl.simple.user' | translate }}
	</button>
</div>
<lib-table
	#table
	[columnsToDisplay]="displayedColumns"
	[autoColumns]="autoColumns"
	[pageSizeOptions]="[10, 20, 50, 100]"
	matSort
	matSortDirection="asc"
	[matSortActive]="displayedColumns[0]"
	[data]="data"
	(update)="list($event)"
	filterLabel="transl.simple.filter"
>
	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.type' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ 'transl.translation.type.' + item.type | translate }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>{{ 'transl.simple.actions' | translate }}</th>
		<td mat-cell *matCellDef="let item">
			<button
				mat-icon-button
				aria-label="Edit"
				[matTooltip]="'transl.simple.permissions' | translate"
				(click)="openPermissionsDialog(item)"
			>
				<mat-icon>rule</mat-icon>
			</button>
			<button mat-icon-button aria-label="Delete" [matTooltip]="'transl.simple.delete' | translate" (click)="deleteUser(item)">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>
</lib-table>
