<h1 mat-dialog-title>{{ 'transl.dialogs.confirm.' + (data.type || 'unknown') + '.title' | translate: { identifier: data.identifier } }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content class="mat-typography">
		<p class="mat-body-2">
			{{ 'transl.dialogs.confirm.' + (data.type || 'unknown') + '.text' | translate: { identifier: data.identifier } }}
		</p>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button" tabindex="2" [disabled]="form.disabled">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<lib-loading-button
			type="submit"
			[color]="data.confirmColor"
			tabindex="1"
			[disabled]="form.invalid || form.disabled"
			[loading]="loading"
		>
			{{ data.confirm || 'transl.simple.confirm' | translate }}
		</lib-loading-button>
	</mat-dialog-actions>
</form>
