<mat-form-field [appearance]="appearance">
	<mat-label *ngIf="label && translateLabel">{{ label | translate }}{{ required ? ' *' : '' }}</mat-label>
	<mat-label *ngIf="label && !translateLabel">{{ label }}{{ required ? ' *' : '' }}</mat-label>
	<mat-chip-list #chipList>
		<ng-container *ngFor="let selectionKeyValue of control.value">
			<mat-chip
				*ngIf="this.internalOptions.find(bySelectionKeyValue(selectionKeyValue)) as option"
				(removed)="remove(option)"
				[style.backgroundColor]="option.chipColor"
			>
				<span>{{ option.name }}</span>
				<mat-icon matChipRemove>cancel</mat-icon>
			</mat-chip>
		</ng-container>
		<input
			#input
			#matAutocompleteTrigger="matAutocompleteTrigger"
			(focus)="matAutocompleteTrigger.openPanel()"
			(click)="matAutocompleteTrigger.openPanel()"
			[formControl]="filterControl"
			[matAutocomplete]="auto"
			[matChipInputFor]="chipList"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			(matChipInputTokenEnd)="add($event)"
			[tabIndex]="tabOrder"
		/>
	</mat-chip-list>
	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
		<mat-option *ngFor="let option of filteredOptions" [value]="option.value" [style.color]="option.optionColor">
			{{ option.name }}
		</mat-option>
	</mat-autocomplete>
	<mat-error *ngIf="Object.keys(control.errors || {})[0] as error">{{ 'transl.error.form.' + error | translate }}</mat-error>
</mat-form-field>
