<h1 mat-dialog-title>{{ 'transl.simple.translation' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<lib-input [formControl]="form.controls.key" appearance="fill" label="transl.simple.key" [required]="true" tabIndex="1"></lib-input>
		<lib-single-select
			appearance="fill"
			[formControl]="form.controls.type"
			[options]="translationTypes"
			[required]="true"
			label="transl.simple.type"
			translationPrefix="transl.translation.type."
			tabOrder="1"
		></lib-single-select>
		<ng-container *ngFor="let group of values.controls">
			<ng-container *ngIf="this.form.value.type === 'SINGLE'">
				<lib-input
					[formControl]="group.controls.value"
					[label]="'transl.languages.' + group.controls.language?.value"
					appearance="fill"
					tabIndex="4"
				></lib-input>
			</ng-container>
			<ng-container *ngIf="this.form.value.type === 'TEXT'">
				<lib-text-area
					[formControl]="group.controls.value"
					[label]="'transl.languages.' + group.controls.language?.value | translate"
					type="text"
					appearance="fill"
					class="message"
					rows="5"
				></lib-text-area>
			</ng-container>
			<ng-container *ngIf="this.form.value.type === 'MULTI'" [formGroup]="group">
				<h4>{{ 'transl.languages.' + group.controls.language?.value | translate }}</h4>
				<angular-editor formControlName="value"></angular-editor>
			</ng-container>
			<span *ngFor="let note of spellingValidators.get(group.controls.language?.value || 'en') | async">{{ note }}</span>
		</ng-container>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">
			{{ 'transl.simple.save' | translate }}
		</button>
	</mat-dialog-actions>
</form>
