<div class="actions">
	<button mat-flat-button color="primary" (click)="openTranslationDialog()">
		<mat-icon>add</mat-icon>
		{{ 'transl.simple.translation' | translate }}
	</button>
</div>
<lib-table
	#table
	[columnsToDisplay]="displayedColumns"
	[autoColumns]="autoColumns"
	[pageSizeOptions]="[10, 20, 50, 100]"
	matSort
	matSortDirection="asc"
	[matSortActive]="displayedColumns[0]"
	[data]="data"
	(update)="list($event)"
	filterLabel="transl.simple.filter"
>
  <ng-container matColumnDef="value-en">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'en' }}</th>
    <td mat-cell *matCellDef="let item">{{ item.values[0]?.value.slice(0, 12) }}</td>
  </ng-container>
  <ng-container matColumnDef="value-de">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'de' }}</th>
    <td mat-cell *matCellDef="let item">{{ item.values[1]?.value.slice(0, 12) }}</td>
  </ng-container>
	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.type' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ 'transl.translation.type.' + item.type | translate }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>{{ 'transl.simple.actions' | translate }}</th>
		<td mat-cell *matCellDef="let item">
			<button mat-icon-button aria-label="Edit" [matTooltip]="'transl.simple.edit' | translate" (click)="openTranslationDialog(item)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button aria-label="Delete" [matTooltip]="'transl.simple.delete' | translate" (click)="deleteTranslation(item)">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>
</lib-table>
