::ng-deep mat-card.mat-card.auth-card {
	max-width: 350px;
	margin: 10% auto;
	padding: 20px 25px;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

	.title {
		display: flex;
		justify-content: space-between;

		h1 {
			line-height: 40px;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		margin-top: 20px;

		lib-input {
			&:last-of-type mat-form-field {
				margin-top: 0;
			}
			mat-form-field {
				//margin: 20px 0;

				.mat-form-field-wrapper {
					padding-bottom: 0;
				}

				.mat-form-field-subscript-wrapper {
					position: relative;
				}
			}
		}
	}

	mat-divider {
		position: relative !important;
		margin: 30px 0;
	}

	.actions {
    margin-top: 10px;

		div {
			width: 100%;
			display: inline-flex;
			flex-wrap: wrap;

			button + button {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}
