<div class="actions">
	<button mat-flat-button color="primary" (click)="navigateToTenant('users')">
		<mat-icon>person</mat-icon>
		{{ 'transl.simple.users' | translate }}
	</button>
	<button mat-flat-button color="primary" (click)="navigateToTenant('translations')">
		<mat-icon>translate</mat-icon>
		{{ 'transl.simple.translations' | translate }}
	</button>
	<button mat-flat-button color="primary" (click)="navigateToTenant('settings')">
		<mat-icon>settings</mat-icon>
		{{ 'transl.simple.settings' | translate }}
	</button>
</div>
<mat-divider></mat-divider>
<div class="content">
	<h1>{{ 'transl.simple.projects' | translate }}</h1>
	<app-card-list [cards]="projectService.documents$ | async" [allowNew]="true">
		<ng-template let-card>
			<mat-card class="card" matRipple (click)="navigateToProject(card.slug)">
				<h2 class="mat-h2">{{ card.name }}</h2>
			</mat-card>
		</ng-template>
	</app-card-list>
</div>
