@import 'src/styles/variables.scss';

:host {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content 1fr;

	.actions {
		display: grid;
		grid-template-rows: min-content;
		grid-auto-columns: min-content;
		gap: var(--space-2);
		grid-auto-flow: column;

		padding: var(--space-2);
	}

	mat-divider {
		height: var(--space-1);
		background-color: mat-color($background, 900);
		border: 0;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;
		gap: var(--space-2);

		overflow: auto;
		padding: var(--space-3);
		padding-top: var(--space-2);

		.card {
			display: grid;
			justify-content: center;
			align-items: center;
			user-select: none;
		}
	}
}
