<input matInput type="color" [formControl]="control" #input />
<div [style.backgroundColor]="control.value" (click)="control.enabled && input.click()" class="color"></div>
<div class="actions">
	<button kominal-stroked-button mat-stroked-button color="primary" type="button" [disabled]="control.disabled" (click)="reset()">
		{{ 'transl.simple.resetToDefault' | translate }}
	</button>
	<button
		kominal-stroked-button
		mat-stroked-button
		color="primary"
		type="button"
		[disabled]="control.disabled"
		(click)="selectRandomColor()"
	>
		{{ 'transl.simple.selectRandomColor' | translate }}
	</button>
</div>
