:host {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	input {
		display: none;
	}

	.color {
		flex: 0 0 auto;

		width: 8rem;
		height: 8rem;
		margin-bottom: var(--space-2);
		margin-right: var(--space-2);
		border-radius: var(--border-radius);
		cursor: pointer;
	}

	.actions {
		flex: 1 0 auto;
		margin-bottom: var(--space-2);

		display: grid;
		gap: var(--space-2);
	}
}
