<mat-form-field [appearance]="appearance">
	<mat-label *ngIf="label && translateLabel">{{ label | translate }}{{ required ? ' *' : '' }}</mat-label>
	<mat-label *ngIf="label && !translateLabel">{{ label }}{{ required ? ' *' : '' }}</mat-label>
	<mat-select [tabIndex]="tabOrder" [formControl]="control">
		<div class="search" *ngIf="filteredOptions.length > 0 && searchable">
			<input
				matInput
				#input
				[placeholder]="'transl.simple.search' | translate"
				autocomplete="off"
				[formControl]="filterControl"
				(keydown)="$event.stopImmediatePropagation()"
			/>
		</div>
		<mat-option *ngIf="!required" [value]="undefined"></mat-option>
		<mat-option *ngFor="let option of filteredOptions" [value]="option.value" [style.color]="option.optionColor">
			{{ option.name }}
		</mat-option>
	</mat-select>
	<mat-error *ngIf="Object.keys(control.errors || {})[0] as error">{{ 'transl.error.form.' + error | translate }}</mat-error>
</mat-form-field>
