<app-card-list [cards]="serviceService.documents$ | async" [allowNew]="true" (onNew)="openServiceDialog()">
	<ng-template let-service>
		<mat-card class="card" matRipple (click)="navigateToService(service)">
			<div class="content">
				<h2 class="mat-h2">{{ service.name }}</h2>
			</div>
			<div class="actions">
				<button
					mat-icon-button
					[matTooltip]="'transl.simple.edit' | translate"
					(mousedown)="$event.stopPropagation()"
					(click)="$event.stopPropagation(); openServiceDialog(service)"
				>
					<mat-icon>edit</mat-icon>
				</button>
				<button
					mat-icon-button
					[matTooltip]="'transl.simple.delete' | translate"
					(mousedown)="$event.stopPropagation()"
					(click)="$event.stopPropagation(); deleteService(service)"
				>
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</mat-card>
	</ng-template>
</app-card-list>
