<mat-card class="auth-card request-password-reset">
	<div class="title">
		<h1 class="mat-display-2">{{ 'transl.simple.requestPasswordReset' | translate }}</h1>
		<mat-spinner diameter="30" *ngIf="loading"></mat-spinner>
	</div>

  <span class="mat-caption">{{ 'transl.authentication.requestPasswordReset.explaination' | translate }}</span>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<lib-input [formControl]="form.controls.email" label="transl.simple.email" [required]="true" appearance="fill"></lib-input>
		<button class="underline-button" mat-button type="submit" [disabled]="loading">
			{{ 'transl.simple.resetPassword' | translate }}
		</button>
	</form>

	<div class="actions">
		<mat-divider></mat-divider>

		<div>
			<button class="underline-button" mat-button type="button" routerLink="/authentication/login">
				{{ 'transl.simple.back' | translate }}
			</button>
		</div>
	</div>
</mat-card>
