<div class="actions">
	<button mat-flat-button color="primary" (click)="openReportDialog()">
		<mat-icon>add</mat-icon>
		{{ 'transl.simple.report' | translate }}
	</button>
</div>
<lib-table
	#table
	[columnsToDisplay]="displayedColumns"
	[autoColumns]="autoColumns"
	[pageSizeOptions]="[10, 20, 50, 100]"
	matSort
	matSortDirection="asc"
	[matSortActive]="displayedColumns[0]"
	[data]="data"
	(update)="list($event)"
	filterLabel="transl.simple.filter"
>
	<ng-container matColumnDef="emails">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.emails' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ item.emails?.join(',') }}</td>
	</ng-container>
	<ng-container matColumnDef="events">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.events' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ item.events }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>{{ 'transl.simple.actions' | translate }}</th>
		<td mat-cell *matCellDef="let item">
			<button mat-icon-button aria-label="Edit" [matTooltip]="'transl.simple.edit' | translate" (click)="openReportDialog(item)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button aria-label="Delete" [matTooltip]="'transl.simple.delete' | translate" (click)="deleteReport(item)">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>
</lib-table>
