<div class="actions">
	<button mat-flat-button color="primary" (click)="openLicenseDialog()">
		<mat-icon>add</mat-icon>
		{{ 'transl.simple.license' | translate }}
	</button>
</div>
<lib-table
	#table
	[columnsToDisplay]="displayedColumns"
	[autoColumns]="autoColumns"
	[pageSizeOptions]="[10, 20, 50, 100]"
	matSort
	matSortDirection="asc"
	[matSortActive]="displayedColumns[0]"
	[data]="data"
	(update)="list($event)"
	filterLabel="transl.simple.filter"
>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.name' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ item.name }}</td>
	</ng-container>
	<ng-container matColumnDef="price">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.price' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ item.price | currency: 'EUR' }}</td>
	</ng-container>
	<ng-container matColumnDef="tax">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.tax' | translate }}</th>
		<td mat-cell *matCellDef="let item">{{ item.tax + '%' }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>{{ 'transl.simple.actions' | translate }}</th>
		<td mat-cell *matCellDef="let item">
			<button mat-icon-button aria-label="Edit" [matTooltip]="'transl.simple.edit' | translate" (click)="openLicenseDialog(item)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button aria-label="Delete" [matTooltip]="'transl.simple.delete' | translate" (click)="deleteLicense(item)">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>
</lib-table>
