<mat-form-field [appearance]="appearance">
	<mat-label *ngIf="label">{{ label | translate }}{{ required ? ' *' : '' }}</mat-label>
	<mat-icon *ngIf="prefixIcon" matPrefix>{{ prefixIcon }}</mat-icon>
	<input
		matInput
		autofocus
		[placeholder]="placeholder || ''"
		[type]="type === 'password' ? (hidePassword ? 'password' : 'text') : type"
		[tabIndex]="tabOrder"
		[formControl]="control"
		[min]="min"
		[max]="max"
	/>
	<div matSuffix>
		<button
			*ngIf="type === 'password'"
			type="button"
			mat-icon-button
			(click)="hidePassword = !hidePassword"
			matTooltip="{{ hidePassword ? 'transl.showValue' : ('transl.simple.hideValue' | translate) }}"
		>
			<mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
		</button>

		<button
			*ngIf="enableCopyButton"
			type="button"
			mat-icon-button
			[clipboard]="control.value"
			matTooltip="{{ 'transl.simple.copyToClipboard' | translate }}"
		>
			<mat-icon>content_copy</mat-icon>
		</button>
	</div>
	<mat-hint *ngIf="hint">{{ hint | translate }}</mat-hint>
	<mat-error *ngIf="Object.keys(control.errors || {})[0] as error">{{ 'transl.error.form.' + error | translate }}</mat-error>
</mat-form-field>
