<mat-form-field appearance="outline">
	<mat-label>{{ filterLabel | translate }}</mat-label>
	<input matInput #input [formControl]="filter" [placeholder]="filterPlaceholder || ''" />
</mat-form-field>

<div class="table-wrapper">
	<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
		<ng-content></ng-content>

		<ng-container matColumnDef="{{ column }}" *ngFor="let column of autoColumns">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'transl.simple.' + getColumnName(column) | translate }}</th>

			<ng-container>
				<td mat-cell *matCellDef="let item">{{
					getDateFormat(column) ? (item[getColumnName(column)] | date: getDateFormat(column)) : item[getColumnName(column)]
				}}</td>
			</ng-container>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		<tr mat-row *matRowDef="let row; columns: columnsToDisplay" [class.expanded-row]="expandedElement === row"></tr>

		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="100">
				<div #noDataRow>
					<ng-content select="[no-data-row]"></ng-content>
				</div>
				<span *ngIf="!noDataRow.hasChildNodes()">{{ 'transl.simple.noResults' | translate }}</span>
			</td>
		</tr>
	</table>

	<mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
	<div class="loading-shade" *ngIf="isLoadingResults">
		<mat-spinner diameter="36" *ngIf="isLoadingResults"></mat-spinner>
	</div>
</div>
