:host {
	display: grid;
	align-content: flex-start;
	gap: 16px;

	mat-form-field ::ng-deep .mat-form-field-wrapper {
		margin: 0;
		padding: 0;
	}

	.table-wrapper {
		display: grid;
		border-radius: 4px;
		overflow: auto;
		align-items: flex-start;
		position: relative;

		.loading-shade {
			position: absolute;
			top: 56px;
			left: 0;
			bottom: 56px;
			right: 0;
			background: rgba(0, 0, 0, 0.15);
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.loading-shade + table ::ng-deep tbody {
			height: 132px;
		}
	}
}
