<ng-container *ngIf="analytics">
	<span>{{ analytics.time | date: 'dd.MM.YYYY HH:mm:ss' }}</span>
	<span>{{ analytics.taskId }}</span>
	<ng-container *ngIf="analytics.type === 'LOG'">
		<span>{{ analytics.content }}</span>
	</ng-container>
	<ng-container *ngIf="analytics.type !== 'LOG'">
		<span>{{ analytics.type }} {{ JSON.stringify(analytics.content) }}</span>
	</ng-container>
</ng-container>
