@import './styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	@include mat-core($typography);
	@include mat-button-theme($theme);
	@include angular-material-theme($theme);

	// Paddings / Margins / Gaps
	--side-space: 130px;
	--component-space: 300px;
	--space-1: 5px;
	--space-2: 10px;
	--space-3: 20px;
	--space-4: 30px;
	--space-5: 100px;
	--border-radius: 5px;

	font-size: 10px;
	overflow-wrap: break-word;
	overflow-wrap: anywhere;

	.mat-display-4,
	.mat-display-3,
	.mat-display-2,
	.mat-display-1,
	.mat-headline,
	.mat-title,
	.mat-subheading-2,
	.mat-subheading-1,
	.mat-body-1,
	.mat-body-2,
	h1,
	h2,
	h3,
	h4 {
		margin-bottom: 0 !important;
	}

	p {
		@include mat-typography-level-to-styles($typography, body-2);
		margin-bottom: var(--space-2) !important;
	}

	@media (max-width: $medium-1) {
		--side-space: 0;
	}

	.mat-display-4 {
		color: #00005a;
	}
	.mat-display-3 {
		// color: #8080ad;
	}

	.mat-caption {
		color: mat-color($foreground, 200);
	}

	.loading-shade {
		bottom: 70px !important;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: #c8c8c8 #e4e7f1;

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}

		&::-webkit-scrollbar-track {
			background: #e4e7f1;
			border-radius: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: #c8c8c8;
			border-radius: 4px;
		}
	}

	body {
		font-family: 'Poppins', 'Helvetica Neue', sans-serif;

		background-color: mat-color($background, 500);

		button {
			&[kominal-flat-button] {
				background: mat-color(map-get($theme, background), status-bar);
			}
		}

		lib-toggle-button {
			mat-button-toggle-group {
				border: 0 !important;
				background-color: #e4e7f1 !important;
				border-radius: var(--border-radius);

				mat-button-toggle {
					margin: 5px !important;
					border: 0 !important;
					border-radius: var(--border-radius);

					button span {
						padding: 0.4em 0.8em !important;
					}

					&.mat-button-toggle-appearance-standard {
						background-color: transparent;

						&.mat-button-toggle-checked {
							background-color: #ffffff;

							.mat-button-toggle-label-content {
								color: mat-color($primary, 500);
							}
						}

						.mat-button-toggle-focus-overlay {
							border: 0;
						}

						.mat-button-toggle-label-content {
							color: mat-color(map-get($theme, foreground), secondary-text);
							line-height: 1em;
						}

						.mat-button-toggle-ripple {
							border-radius: var(--border-radius);
						}
					}
				}
			}
		}

		lib-input,
		lib-text-area,
		lib-single-select,
		lib-multi-select,
		.kominal-form-field {
			.mat-form-field-flex {
				background-color: mat-color($background, 500) !important;
				border-radius: var(--border-radius) !important;
			}

			.mat-form-field-underline {
				display: none;
			}

			.mat-form-field-outline {
				.mat-form-field-outline-start,
				.mat-form-field-outline-end {
					border-color: #e0e0e0 !important;
					border-width: 1px !important;
				}

				.mat-form-field-outline-gap {
					border-color: #e0e0e0;

					&:not(.mat-form-field-outline-thick) {
						border-width: 1px !important;
					}
				}
			}
		}

		mat-icon {
			color: mat-color(map-get($theme, foreground), icon);
		}

		button.mat-button-disabled,
		.mat-flat-button,
		.mat-stroked-button,
		.mat-raised-button,
		.custom-icon-color,
		.mat-step-icon {
			mat-icon {
				color: unset;
			}
		}

		mat-slide-toggle {
			@include mat-typography-level-to-styles($typography, body-2);
			color: mat-color(map-get($theme, foreground), secondary-text);
			margin-top: 8px;
			margin-bottom: 8px;
		}

		.content-card {
			background-color: mat-color($background, 900);
			border-radius: var(--border-radius);
			padding: var(--space-2);
			gap: var(--space-2);

			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: min-content;
			grid-auto-flow: row;

			@media (min-width: 1280px) {
				padding: var(--space-3);
				gap: var(--space-2);
			}
		}

		[stripe] {
			height: 3px;
		}

		mat-spinner {
			justify-self: center;
			align-self: center;
		}

		mat-paginator {
			background-color: transparent !important;
		}

		.mat-snack-bar-container {
			border: 2px solid mat-color(map-get($theme, foreground), divider);
			background: mat-color(map-get($theme, background), card);
			color: mat-color(map-get($theme, foreground), text);
			border-radius: var(--border-radius);
		}

		.mat-stepper-horizontal {
			display: grid;
			grid-template-rows: min-content 1fr;

			.mat-horizontal-content-container {
				padding: 0;
				padding-top: var(--space-4);
			}

			.mat-horizontal-stepper-header-container {
				overflow: auto;

				.mat-step-header {
					overflow: unset;
				}
			}

			.mat-horizontal-stepper-content[aria-expanded='true'] {
				height: 100%;
				overflow: auto;
			}
		}

		.mat-stepper-vertical {
			overflow: auto;
		}

		.cdk-overlay-container {
			.mat-dialog-container {
				max-height: 95vh;
				overflow: auto;

				padding: var(--space-4) var(--space-4) 0 var(--space-4);

				&::after {
					content: '';
					display: block;
					height: var(--space-4);
				}

				.mat-dialog-title {
					margin-bottom: var(--space-3) !important;
					// @include mat-typography-level-to-styles($config, title);
				}
			}
		}

		.mat-standard-chip {
			border-radius: var(--border-radius) !important;
		}

		.search-field {
			max-width: 350px;

			mat-form-field {
				padding-bottom: 8px;
			}

			.mat-form-field-wrapper {
				padding: 0;
			}

			.mat-form-field-flex {
				padding-top: 0;
				background-color: transparent !important;
				display: grid;
				grid-template-columns: min-content 1fr;
				align-items: center;

				.mat-form-field-prefix {
					padding-right: 4px;
				}

				.mat-form-field-infix {
					width: 100%;
				}
			}
		}

		.mat-dialog-actions app-loading-button {
			margin-left: 8px;
		}

		&.mat-app-background {
			background: mat-color($background, 500);
		}
	}
}

html,
body,
app-root {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
}

mat-card.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

mat-chip {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	span {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

button.underline-button {
  width: 100%;
  display: inline-block;
  background: #f6f6f6;
  padding: 4px 8px;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;

  cursor: pointer;
  text-decoration: none !important;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(1);
    -webkit-transition: .3s transform ease;
    -o-transition: .3s transform ease;
    transition: .3s transform ease;
    background: cornflowerblue;
  }

  &:hover::before {
    transform: scale(0);
  }
}
