<app-card-list [cards]="environmentService.documents$ | async" [allowNew]="true" (onNew)="openEnvironmentDialog()">
	<ng-template let-environment>
		<mat-card class="card" matRipple (click)="navigateToEnvironment(environment)">
			<div class="content">
				<h2 class="mat-h2">{{ environment.name }}</h2>
			</div>
			<div class="actions">
				<button
					mat-icon-button
					[matTooltip]="'transl.simple.edit' | translate"
					(mousedown)="$event.stopPropagation()"
					(click)="$event.stopPropagation(); openEnvironmentDialog(environment)"
				>
					<mat-icon>edit</mat-icon>
				</button>
				<button
					mat-icon-button
					[matTooltip]="'transl.simple.delete' | translate"
					(mousedown)="$event.stopPropagation()"
					(click)="$event.stopPropagation(); deleteEnvironment(environment)"
				>
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</mat-card>
	</ng-template>
</app-card-list>
