@import 'src/styles/variables.scss';

:host {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: var(--space-2);

	overflow: auto;
	padding: var(--space-3);

	.card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr min-content 0;

		.content {
			display: grid;
			justify-content: center;
			align-items: center;
			user-select: none;
			text-align: center;
		}

		.actions {
			display: grid;
			grid-template-columns: min-content min-content;
			grid-template-rows: min-content;
			justify-content: right;
			justify-self: right;
			gap: var(--space-1);

			position: absolute;
			bottom: var(--space-2);
			right: var(--space-2);
			padding: 0;
			border-radius: 20px;
			background-color: mat-color($background, 700);

			margin: 0 !important;
		}
	}
}
