:host {
	border: 0;
	background-color: #e4e7f1;
	border-radius: var(--border-radius);

	mat-button-toggle-group {
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-flow: column;
		grid-template-rows: min-content;

		mat-button-toggle {
			margin: var(--space-1) !important;
			border: 0 !important;
			border-radius: var(--border-radius);

			&.mat-button-toggle-appearance-standard {
				background-color: transparent;

				&.mat-button-toggle-checked {
					background-color: #ffffff;

					.mat-button-toggle-label-content {
						color: #5c7fff;
					}
				}

				.mat-button-toggle-focus-overlay {
					border: 0;
				}

				.mat-button-toggle-label-content {
					color: #7e7e7e;
					line-height: 1em;
				}

				.mat-button-toggle-ripple {
					border-radius: 5px;
				}
			}
		}
	}
}
