<div class="header">
	<div class="left">
		<button *ngIf="drawer" mat-icon-button class="sidenav-toggle" (click)="drawer.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<div class="breadcrumbs">
			<button mat-button kominal-button [matMenuTriggerFor]="tenantMenu">
        <img src="assets/kominal.svg" alt="kominal-logo" *ngIf="(userService.currentTenant$ | async)?.name === 'Kominal'">
				{{ (userService.currentTenant$ | async)?.name || ('transl.simple.selectTenant' | translate) }}
			</button>
			<ng-container *ngIf="projectService.currentProject$ | async as project">
				<mat-icon>chevron_right</mat-icon>
				<button mat-button kominal-button (click)="navigateToTenant('projects/' + project.slug)">
					{{ project.name }}
				</button>
			</ng-container>
			<ng-container *ngIf="environmentService.currentEnvironment$ | async as environment">
				<mat-icon>chevron_right</mat-icon>
				<button mat-button kominal-button (click)="navigateToProject('environments/' + environment.slug)">
					{{ environment.name }}
				</button>
			</ng-container>
			<ng-container *ngIf="serviceService.currentService$ | async as service">
				<mat-icon>chevron_right</mat-icon>
				<button mat-button kominal-button (click)="navigateToEnvironment('services/' + service.slug)">
					{{ service.name }}
				</button>
			</ng-container>
			<ng-container *ngIf="projectTenantService.currentProjectTenant$ | async as tenant">
				<mat-icon>chevron_right</mat-icon>
				<button mat-button kominal-button (click)="navigateToEnvironment('tenant/' + tenant.slug)">
					{{ tenant.name }}
				</button>
			</ng-container>
		</div>
	</div>

	<div class="right">
		<button mat-button [matMenuTriggerFor]="languageMenu">{{ translateService.currentLang | uppercase }}</button>
		<button mat-icon-button class="more" [matMenuTriggerFor]="moreMenu">
			<mat-icon>manage_accounts</mat-icon>
		</button>
	</div>
</div>
<mat-divider></mat-divider>

<mat-menu #languageMenu="matMenu">
	<button mat-menu-item (click)="selectLanguage('de')">
		<span class="mat-body-2">{{ 'transl.languages.de' | translate }}</span>
	</button>
	<button mat-menu-item (click)="selectLanguage('en')">
		<span class="mat-body-2">{{ 'transl.languages.en' | translate }}</span>
	</button>
</mat-menu>

<mat-menu #moreMenu="matMenu">
	<button mat-menu-item [matMenuTriggerFor]="languageMenu">
		<mat-icon>translate</mat-icon>
		<span class="mat-body-2">{{ 'transl.languages.' + translateService.currentLang | translate }}</span>
	</button>
	<button mat-menu-item (click)="userService.logout()">
		<mat-icon>exit_to_app</mat-icon>
		<span class="mat-body-2">{{ 'transl.simple.logout' | translate }}</span>
	</button>
</mat-menu>

<mat-menu #tenantMenu>
	<button mat-menu-item *ngFor="let tenant of userService.tenants$ | async" [routerLink]="['/cockpit/', tenant.slug]">
		<span class="mat-body-2">{{ tenant.name }}</span>
	</button>
	<mat-divider *ngIf="isTenantSelectable | async"></mat-divider>
	<button mat-menu-item *ngIf="userService.currentTenantSlug$ | async as tenantSlug" [routerLink]="['/cockpit/', tenantSlug]">
		<mat-icon>home</mat-icon>
		<span class="mat-body-2">{{ 'transl.simple.home' | translate }}</span>
	</button>
	<button mat-menu-item routerLink="/welcome" [queryParams]="{ preventRedirect: true }">
		<mat-icon>add</mat-icon>
		<span class="mat-body-2">{{ 'transl.simple.createTenant' | translate }}</span>
	</button>
</mat-menu>
