@import 'src/styles/variables.scss';

:host {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content;

	.header {
		padding: var(--space-2);

		display: grid;
		grid-template-columns: 1fr min-content;
		grid-template-rows: min-content;
		justify-content: space-between;

		.left {
			display: grid;
			grid-template-columns: min-content 1fr;
			grid-template-rows: min-content;
			gap: var(--space-1);
			align-items: center;
			justify-content: left;
			align-content: center;

			.breadcrumbs {
				display: grid;
				grid-template-rows: min-content;
				grid-auto-columns: max-content;
				align-items: center;
				grid-auto-flow: column;

        button ::ng-deep {
          span {
            display: flex;
            align-items: center;
          }

          img {
            height: 20px;
            margin-right: 5px;
          }
        }

        mat-icon {
          margin: 0 10px;
        }
			}
		}

		.right {
			display: grid;
			grid-template-rows: min-content;
			grid-auto-columns: min-content;
			grid-auto-flow: column;
			gap: 8px;
			align-content: center;

			.profile {
				background-color: white;
				color: black;
			}
		}
	}

	mat-divider {
		height: var(--space-1);
		background-color: mat-color($background, 900);
		border: 0;
	}

	@media (max-width: $small-2) {
		.right button:nth-child(1) {
			display: none;
		}
	}

	@media (max-width: $small-1) {
		.right button:nth-child(2) {
			display: none;
		}
	}
}

::ng-deep .tenant-creation-button {
	display: grid !important;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr;
	align-items: center;
}
