<nav mat-tab-nav-bar>
	<a mat-tab-link *ngFor="let tab of tabs" [routerLink]="tab.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
		<mat-icon>{{ tab.icon }}</mat-icon>
		<span>{{ 'transl.tab.' + tab.name | translate }}</span>
	</a>
</nav>
