@import 'src/styles/variables.scss';

:host {
	overflow: hidden;
  margin-top: 10px;

	mat-divider {
		height: var(--space-1);
		background-color: mat-color($background, 900);
		border: 0;
	}

	nav {
		border: 0;
	}
}
