<h1 mat-dialog-title>{{ 'transl.simple.environment' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<span *ngIf="form.controls._id.value">{{ 'transl.simple.id' }}: {{ form.controls._id.value }}</span>
		<mat-slide-toggle [formControl]="form.controls.active">
			{{ 'transl.simple.active' | translate }}
		</mat-slide-toggle>
		<lib-input
			[formControl]="form.controls.interval"
			label="transl.simple.interval"
			appearance="fill"
			tabIndex="1"
			type="number"
		></lib-input>
		<lib-single-select
			appearance="fill"
			[formControl]="form.controls.type"
			[options]="checkTypes"
			[required]="true"
			label="transl.simple.type"
			translationPrefix="transl.translation.type."
			tabOrder="2"
		></lib-single-select>
		<ng-container *ngIf="this.form.value.type === 'PING'">
			<lib-input [formControl]="configuration.controls.url" label="transl.simple.url" appearance="fill" tabIndex="4"></lib-input>
			<lib-input
				[formControl]="configuration.controls.timeout"
				label="transl.simple.timeout"
				appearance="fill"
				tabIndex="5"
				type="number"
			></lib-input>
		</ng-container>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">
			{{ 'transl.simple.save' | translate }}
		</button>
	</mat-dialog-actions>
</form>
