@import 'src/styles/variables.scss';

mat-dialog-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	grid-auto-flow: row;
	gap: var(--space-2);
}

img {
	user-select: none;
	pointer-events: none;
	justify-self: center;

	width: 50%;
}
