<h1 mat-dialog-title>{{ 'transl.simple.file' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<lib-input [formControl]="form.controls.key" appearance="fill" label="transl.simple.key" [required]="true" tabIndex="1"></lib-input>
		<lib-single-select
			appearance="fill"
			[formControl]="form.controls.type"
			[options]="fileTypes"
			[required]="true"
			label="transl.simple.type"
			translationPrefix="transl.file.type."
			tabOrder="1"
		></lib-single-select>
		<ng-container *ngIf="form.value.type === 'IMAGE'">
			<button mat-raised-button color="primary" type="button" (click)="fileInput.click()">
				{{ 'transl.simple.selectFile' | translate }}
			</button>
			<img [src]="form.value.value" />
		</ng-container>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">
			{{ 'transl.simple.save' | translate }}
		</button>
	</mat-dialog-actions>
</form>

<input #fileInput hidden type="file" (change)="addSelectionFiles($event)" />
