@import 'src/styles/variables.scss';

mat-dialog-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	gap: var(--space-2);

	.service {
		display: grid;

		mat-checkbox {
			margin-bottom: 8px;
		}
	}
}
