<h1 mat-dialog-title>{{ 'transl.simple.report' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<h3>{{ 'transl.simple.receivers' | translate }}</h3>
		<lib-multi-select
			appearance="fill"
			[formControl]="emails"
			[options]="emails.value"
			[allowCustom]="true"
			chipColorKey="color"
			label="transl.simple.emails"
			class="location"
		></lib-multi-select>
		<h3>{{ 'transl.simple.services' | translate }}</h3>
		<button mat-stroked-button color="primary" type="button" (click)="addEventControl()">
			<mat-icon>add</mat-icon>
			{{ 'transl.simple.event' | translate }}
		</button>
		<div *ngFor="let group of events.controls; index as i">
			<lib-single-select
				appearance="fill"
				[formControl]="group.controls.serviceId"
				[options]="serviceService.documents$ | async"
				selectionKey="_id"
				displayKey="name"
				label="transl.simple.service"
			></lib-single-select>
			<lib-multi-select
				appearance="fill"
				[formControl]="group.controls.types"
				[options]="group.controls.types.value"
				[allowCustom]="true"
				label="transl.simple.types"
			></lib-multi-select>
			<button
				mat-icon-button
				type="button"
				aria-label="Delete"
				[matTooltip]="'transl.simple.delete' | translate"
				(click)="removeEventControl(i)"
			>
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">
			{{ 'transl.simple.save' | translate }}
		</button>
	</mat-dialog-actions>
</form>
