<h1 mat-dialog-title>{{ 'transl.simple.environment' | translate }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<span *ngIf="form.controls._id.value">{{ 'transl.simple.id' }}: {{ form.controls._id.value }}</span>
		<lib-input
			[formControl]="form.controls.name"
			appearance="fill"
			label="transl.simple.name"
			[required]="true"
			tabOrder="1"
		></lib-input>
		<lib-input
			[formControl]="form.controls.slug"
			appearance="fill"
			label="transl.simple.slug"
			[required]="true"
			tabOrder="2"
		></lib-input>
		<button mat-stroked-button color="primary" type="button" (click)="addTokenControl()">
			<mat-icon>add</mat-icon>
			{{ 'transl.simple.token' | translate }}
		</button>
		<div *ngFor="let control of tokens.controls; index as i">
			<lib-input [formControl]="control" appearance="fill" label="transl.simple.token" [required]="true" tabOrder="3"></lib-input>
			<button
				mat-icon-button
				type="button"
				aria-label="Delete"
				[matTooltip]="'transl.simple.delete' | translate"
				(click)="removeTokenControl(i)"
			>
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close type="button">
			{{ 'transl.simple.cancel' | translate }}
		</button>
		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">
			{{ 'transl.simple.save' | translate }}
		</button>
	</mat-dialog-actions>
</form>
